.slider {
  height: 150px;
  position: relative;
}

.slider-item {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  padding: 25px;
  color: antiquewhite;
  font-size: 40px;
}

.active {
  opacity: 1;
  transition: 0.3s;
}

.slider-item:nth-of-type(1) {
  background-color: blue;
}

.slider-item:nth-of-type(2) {
  background-color: aqua;
}

.slider-item:nth-of-type(3) {
  background-color: rgb(255, 0, 98);
}

.slider-item:nth-of-type(4) {
  background-color: rgb(85, 255, 0);
}

.slider-item:nth-of-type(5) {
  background-color: rgb(255, 85, 0);
}
